
<!-- Retrieve meta options from src/options.json -->
<% var options = require("./options.json") %>
<% var isDev = webpackConfig.mode == "development" %>

<!DOCTYPE html>
<html lang="<%= options.locale %>">
  <head>
    <meta charset="utf-8"/>
    
    <!-- Set various meta tags -->
    <title><%= options.title %></title>
    <meta property="og:title" content="<%= options.title %>"/>
    <meta name="description" content="<%= options.description %>"/>
    <meta property="og:locale" content="<%= options.locale %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:type" content="website"/>
    
    <% if (htmlWebpackPlugin.options.canonical_url) { %>
        <meta property="og:url" content="<%= htmlWebpackPlugin.options.canonical_url %>"/>
    <% } %>
    
    <!-- Include css and js-->
    <% if (isDev) { %>
        <!-- Reference css and js files when in dev -->
        <% for (var css in htmlWebpackPlugin.files.css) { %><link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><% } %>
        <% for (var js in htmlWebpackPlugin.files.js) { %><script src="<%= htmlWebpackPlugin.files.js[js] %>"></script><% } %>
    <% } else { %>
        <!-- Inline css and js files when in prod -->
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <style><%= compilation.assets[htmlWebpackPlugin.files.css[css].substr(htmlWebpackPlugin.files.publicPath.length)].source() %></style>
        <% } %>
    
        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <script><%= compilation.assets[htmlWebpackPlugin.files.js[js].substr(htmlWebpackPlugin.files.publicPath.length)].source() %></script>
        <% } %>
    <% } %>
    
  </head>
  <body>
    <h1>Hallo</h1>
  </body>
</html>
